@import 'ext/solarized-light';

div.highlighter-rouge {
  width: 100vw;
  position: relative;
  right: 150px;
  margin: 40px 0;
}

.highlight {
  background-color: #f4f4f4;
}

div.highlight {
  padding: 30px 150px;
}

pre.highlight,
code {
  font-family: 'Fira Mono', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
  line-height: 1.4em;
  tab-size: 4;
  color: #222222;
  background: #f4f4f4;
  font-size: 85%;
  border-radius: 3px;
}

.post-container blockquote {
  border-left: solid 5px black;
  padding-left: 10px;
  margin-inline-start: 15px !important;
}
